/* You can add global styles to this file, and also import other style files */
.title-text {
  text-transform: capitalize;
}

.svg-bordered {
  border: 5px black solid;
}

.network-node {
  fill: white;
  stroke: #000;
  stroke-width: 2px;
}

.network-line {
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

.node-black {
  stroke: black;
}

.node-purple {
  stroke: purple;
}

.node-red {
  stroke: red;
}

.node-highlighted {
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.marey-point {
  stroke-width: 0;
  fill: black;
}

.line {
  fill: none;
  stroke-width: 1px;
  stroke: steelblue;
}

.marey-line {
  stroke-width: 1px;
}

.route-purple {
  stroke: purple;
}

.route-red {
  stroke: red;
}

.route-gold {
  stroke: gold;
}
