/* You can add global styles to this file, and also import other style files */
.svg-bordered {
  border: 5px black solid;
}

.network-node {
  fill: white;
  stroke: #000;
  stroke-width: 2px;
}

.network-line {
  fill: none;
  stroke-width: 2px;
  stroke: black;
}

.node-black {
  stroke: black;
}

.node-purple {
  stroke: purple;
}

.node-red {
  stroke: red;
}

.node-highlighted {
  fill: black;
}
